#problem
  background-color: #3f4db7
  min-height: 100%
  display: flex
  justify-content: center
  align-items: center

.pro-ctn
  background-color: red
  display: block

.pro-answer
  display: block
  visibility: hidden
  transition: all 1s ease
