
@media (max-width: 380px)
  #thanks
    height: 100%
    text-align: center
  .thanks-ctn
    text-align: center
    img
      height: 1.6rem
      margin: 0 20px

  .thanls-n
    color: #1d2d61

  .thanks-title
    letter-spacing: .8rem
    text-indent: .8rem
    color: #f1606b
    font-size: 1.5rem
    margin-bottom: 1rem
    margin-top: 1rem

  .thanks-n
    letter-spacing: .2rem
    text-indent: .2rem
    font-size: 1rem
    line-height: 2rem

  .thanks-title:after
    content: ""
    display: block
    margin: 2px auto
    width: 1.5rem
    padding-top: 1px
    border-bottom: 1.5px solid #3f4ab7

  #sponsor-first
    //margin: 1rem 0
  #sponsor-s
    img
      margin: 0 10px 1rem 20px
  #s-kika
    height: 2rem
    //margin: 0 0 1.3rem 0
  #dayusci
    height: 1.7rem
    margin-top: .5rem
    margin-bottom: .5rem
  #taimedia
    //height: 3rem
  #s-jiuzhang
    height: 3rem
  #s-shimo
    height: 3rem
    vertical-align: top

  #media
    margin-bottom: 1rem
    div
      div
        display: flex
        justify-content: center

  #more-sponsor
    color: #f1606b
    line-height: 3rem
    text-align: center
    width: 100%
    font-size: 8px
    letter-spacing: .5rem
    text-indent: .5rem
    font-weight: 600

@media (max-width: 480px) and (min-width: 381px)
  #thanks
    height: 100%
    text-align: center
  .thanks-ctn
    text-align: center
    img
      height: 2rem
      margin: 0 20px

  .thanls-n
    color: #1d2d61

  .thanks-title
    letter-spacing: .8rem
    text-indent: .8rem
    color: #f1606b
    font-size: 1.7rem
    margin-bottom: 1rem
    margin-top: 2rem

  .thanks-n
    letter-spacing: .2rem
    text-indent: .2rem
    font-size: 1.2rem
    line-height: 2rem

  .thanks-title:after
    content: ""
    display: block
    margin: 2px auto
    width: 2rem
    padding-top: 1px
    border-bottom: 1.2px solid #3f4ab7

  #sponsor-first
    //margin: 1rem 0 0 0

  #sponsor-s
    img
      margin: 0 20px 1.4rem 20px

  #s-kika
    height: 2.3rem
    margin: .8rem 20px 0 20px

  #s-jiuzhang
    height: 3rem

  #s-shimo
    height: 4rem
    vertical-align: top
    margin: 0 20px
  #qing
    height: 3.5rem
  #taimedia
    //height: 3rem
  #qing
    height: 3.5rem
  #dayusci
    height: 2.5rem
    margin-top: .5rem
    margin-bottom: .5rem
  #media
    margin-bottom: 1rem
    div
      div
        display: flex
        justify-content: center

  #more-sponsor
    color: #f1606b
    line-height: 3rem
    text-align: center
    width: 100%
    font-size: 1rem
    letter-spacing: .5rem
    text-indent: .5rem
    font-weight: 600

@media (min-width: 480px)
  #thanks
    height: 100%
    text-align: center

  .thanks-ctn
    text-align: center
    img
      height: 2.4rem
      margin: 0 30px

  .thanls-n
    color: #1d2d61

  .thanks-title
    letter-spacing: .8rem
    text-indent: .8rem
    color: #f1606b
    font-size: 1.5rem
    margin-bottom: 2rem
    margin-top: 2rem

  .thanks-n
    letter-spacing: .2rem
    text-indent: .2rem
    font-size: 1.1rem
    line-height: 2.5rem

  .thanks-title:after
    content: ""
    display: block
    margin: 2px auto
    width: 3.5rem
    padding-top: 1px
    border-bottom: 3px solid #3f4ab7


  #sponsor-s
    //margin: 1rem 0
  #sponsor-t
    margin: 2rem 0
  #s-kika
    height: 3rem
    margin-top: 1rem
  #dayusci
    height: 3rem
  #s-jiuzhang
    height: 4rem
  #s-shimo
    height: 5rem
    vertical-align: top
  #qing
    height: 4.5rem
    margin-bottom: -.5rem

  #media
    margin-top: 2.5rem
    margin-bottom: 1rem
    div
      div
        display: flex
        justify-content: center

  #more-sponsor
    color: #f1606b
    line-height: 3rem
    text-align: center
    width: 100%
    font-size: 1rem
    letter-spacing: .5rem
    text-indent: .5rem
    font-weight: 600
    margin-bottom: 4rem