#time-page {
    display: flex;
}
#time-page-n {
    display: flex;
}

#time-l-b {
    display: inline-block;
    width: 50%;
    padding: 8%;
}

#time-r-b {
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;

}
#time-r-b img {
    height: 100%;
}

.match-date {
    color: #f1606b;
    font-size: 5rem;
    font-weight: 700;
}
.match-time {
    line-height: 4rem;
}

.time {
    color: darkblue;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    margin-right: 2%;
}

.arr-detail {
    color: black;
    font-weight: 400;
    font-size: 1.4rem;
}

#day-1 {
    position: absolute;
    left: 0;
    bottom: 15%;
    color: #f1606b;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 1.5rem;

}
#time-r-b > div {
    height: 70%;
    width: 100%;
    position: relative;
    align-items: center;
    align-self: center;
}



#time-l-b-n {

    display: inline-block;
    width: 50%;
    height: 100%;
    /*background-color: blue;*/
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

#time-r-b-n {
    display: inline-block;
    width: 50%;
    padding: 8%;
}
#time-r-b-n > p {
    text-align: right;
}

#time-r-b-n .time {
    margin-right: 0;
    margin-left: 2%;
}
#time-l-b-n img {
    height: 100%;
}
#time-l-b-n > div {
    height: 70%;
    width: 100%;
    position: relative;
    align-items: center;
    align-self: center;
}

#day-2 {
    position: absolute;
    right: 0;
    bottom: 15%;
    color: #f1606b;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 1.5rem;

}
.match-time-r {
    width: 82%;
    display: inline-block;
    line-height: 2.5rem;
    margin-top: 1rem;
}
.time-r {
    display: inline-block;
    width: 14%;
    line-height:  2.5rem;
    text-align: right;
    vertical-align: top;
    margin-top: 1rem;
}